<!DOCTYPE html>
{% extends 'main.html' %}
{% load bootstrap4 %}

{% block search_block %}
{% endblock %}



{% block body_block %}
    {% if no_buying %}
        <div class="jumbotron">
            <div style="text-align: center;background-color: #002855; padding: 10px; border-radius: 10px;color: whitesmoke; margin-bottom: 10px">
                <h5>No puedes comprar quinielas de la jornada {{ jornada }}.</h5>
                <h5>Puedes comprar de <strong>Lunes a Jueves.</strong></h5>
            </div>
        </div>
    {% else %}


    <div class="d-flex justify-content-center">
        <div class="jumbotron">

            <div class="alert alert-warning" role="alert">
              No más de 25 quinielas
            </div>

            <div class="d-flex justify-content-center">
            <form method="POST" action="" onsubmit="myButton.disabled = true; return true;">
                {% csrf_token %}

                <input id="send_total" type="hidden" name="total_money" value="">
                {{ formset.management_form }}
                {% for form in formset %}
                    <nav class="navbar sticky-top navbar-light bg-light">
                      <p><strong id="number_quinielas">1</strong> Quiniela<span id="plural"></span> - Precio total: $<strong id="total_quinielas">2</strong></p>
                    </nav>

                    <div class="form-row" style="margin-top: 15px">
                        <div class="col-auto">

                        <div style="background-color: #205067; width: 300px;height: 5px; border-radius: 5px; margin-top: 20px"></div>


                            {% bootstrap_form form %}
                                <div class="input-group-append" style="margin-bottom: 5px">
                                    <button class="btn btn-success add-form-row" id="change_info">+</button>
                                </div>
                        </div>
                    </div>
                {% endfor %}
                        <div style="margin-top: 20px">
                            <button name="myButton" type="submit" class="btn btn-block btn-primary">Pagar Quinielas</button>

                        </div>
            </form>
            </div>

        </div>
    </div>
<!-- create_normal.html :: part 4 -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript">

function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        var name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        }
    });
    newElement.find('label').each(function() {
        var forValue = $(this).attr('for');
        if (forValue) {
          forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
          $(this).attr({'for': forValue});
        }
    });
    total++;

    {#i added this to update quinela list total#}
    const addNumberQuinielas = document.getElementById('number_quinielas');
    addNumberQuinielas.textContent = total;

    const addTotalQuinielas = document.getElementById('total_quinielas');
    let totaltoPay = total;
    totaltoPay *= 2;
    addTotalQuinielas.textContent = totaltoPay;

    const total_send = document.getElementById('send_total');
    total_send.value = totaltoPay;

    let plural = document.getElementById('plural');
    plural.textContent = 's';

    {#end of my addition#}

    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row')
    .html('Borrar Quiniela');
    return false;



}
function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {

            {#i added this to update quinela list total#}
            const addNumberQuinielas = document.getElementById('number_quinielas');
            addNumberQuinielas.textContent = forms.length;

            const addTotalQuinielas = document.getElementById('total_quinielas');
            let totaltoPay = forms.length;
            totaltoPay *= 2;
            addTotalQuinielas.textContent = totaltoPay;

            const total_send = document.getElementById('send_total');
            total_send.value = totaltoPay;

            let plural = document.getElementById('plural');
            if(forms.length === 1){
                plural.textContent = '';
            }

            {#end of my addition#}

            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
});
$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});

    c = document.querySelector(".btn-success");
    c.textContent = "Agregar Otra Quiniela";


</script>


    {% endif %}
{% endblock %}