<!DOCTYPE html>
{% extends 'main.html' %}
{% load bootstrap4 %}

{% block search_block %}
{% endblock %}

{% block body_block %}

    <div class="jumbotron">
        <div>
            <h4 style="background-color: whitesmoke; padding: 10px; border-radius: 10px">Cómo cobrar cuando ganas la quiniela</h4>
            <h5 style="background-color: #06d6a0; padding: 10px; border-radius: 10px; margin-top: 10px">Si eres unos de los ganadores de alguna de las quinielas te llamaremos por número de teléfono.</h5>

            <div style="background-color: #001845; padding: 10px; border-radius: 10px; color: whitesmoke">

                    <h5 style="background-color: #002855; padding: 10px; border-radius: 10px">Le pediremos esta información cuando lo llamemos por teléfono</h5>

                    <div style="text-align: left">
                        <p>1. Nombre y apellido</p>
                        <p>2. El número de ruta de tu cuenta bancaria (Routing Number)</p>
                        <p>3. Número de cuenta bancaria (Account Number)</p>
                        <p>4. Tipo de cuenta bancaria - de cheques o ahorros (checking o savings)</p>
                    </div>
            </div>

            <h5 style="background-color: #06d6a0; padding: 10px; border-radius: 10px; margin-top: 10px">Tendrás el dinero dentro de 3-4 días en tu banco</h5>

        </div>
    </div>

{% endblock %}