<!DOCTYPE html>
{% extends 'main.html' %}
{% load bootstrap4 %}

{% block search_block %}
{% endblock %}

{% block body_block %}

    <div class="jumbotron">
        <div>
            <h4>Como cobrar cuando ganas la quiniela</h4>
            <h5 style="margin-bottom: 10px">Si eres unos de los ganadores de alguna de las quinielas te llamaremos por número de teléfono.</h5>


            <h5 style="margin-top: 10px">Le pediremos esta información cuando lo llamemos por teléfono</h5>

            <div class="mx-auto card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div  class="card-body">
                    <div style="text-align: left">
                        <p class="card-text">1. Nombre y apellido</p>
                        <p class="card-text">2. El número de ruta de tu cuenta bancaria (Routing Number)</p>
                        <p class="card-text">3. Número de cuenta bancaria (Account Number)</p>
                        <p class="card-text">4. Tipo de cuenta bancaria - de cheques o ahorros (checking o savings)</p>
                    </div>
                </div>
            </div>

            <h5 style="color: #205067">Tendrás el dinero dentro de 3-4 días en tu banco</h5>

        </div>
    </div>

{% endblock %}