<!DOCTYPE html>
{% extends 'main.html' %}
{% block body_block%}


<div class="jumbotron">


        {% for mm in both_lists %}
            <div class="row justify-content-between">

                <div class="col-6">
                    {% if request.user == mm.author%}

                    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                      <div class="card-body">
                          <h5 class="card-title">@{{ request.user }}</h5>
                          <p class='text-white'><a href="{% url 'accounts:detail' pk=mm.author.profiles.pk %}"></a><br><strong>{{ mm.text }}|{{ mm.recipient }}</strong></p>

                      </div>
                    </div>
                    {% endif %}

                </div>


                {% if is_this_admin == False %}

                    <div class="col-6">
                        {% if mm.author.profiles.pk == 4%}
                            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                              <div class="card-body">
                                  <h5 class="card-title"><strong style="color: black">Administración</strong></h5>
                                  <p class='text-white'><a href="{% url 'accounts:detail' pk=mm.author.profiles.pk %}"></a><br><strong>{{ mm.text }}</strong></p>

                              </div>
                            </div>
                        {% endif %}
                    </div>


                {% else %}

                    <div class="col-6">
                        {% if user_list.user == mm.author %}
                            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                              <div class="card-body">
                                  <h5 class="card-title"><strong style="color: black">@{{ mm.author }}</strong></h5>
                                  <p class='text-white'><a href="{% url 'accounts:detail' pk=mm.author.profiles.pk %}"></a><br><strong>{{ mm.text }}</strong></p>

                              </div>
                            </div>
                        {% endif %}
                    </div>

                {% endif %}


            </div>

        {% endfor %}




        {% if is_this_admin == True %}
        <br>
        <br>
        <div class="d-flex justify-content-center">

        <a href="{% url 'catmessage:add_message' pk=user_list.pk %}" class="btn btn-primary">I Am Admin</a>
        </div>

        {% else %}
            <div class="container">
                <div class="jumbotron">
                    <div align="center">

                        {% if both_lists %}
                            <a href="{% url 'catmessage:add_message' pk=4 %}" class="btn btn-primary">Responder</a>
                        {% else %}
                            <a href="{% url 'catmessage:add_message' pk=4 %}" class="btn btn-primary">Escribe tu pregunta</a>
                        {% endif %}

                    </div>
                </div>
            </div>

        {% endif %}
</div>



{% endblock %}

