<!DOCTYPE html>
{% extends 'main.html' %}
{% block body_block %}


    <div class="jumbotron">
        <h1 class="display-4" style="text-align: center">4 Puntos</h1>
        <div class="row">
            {% for post in four_list %}
                <div class="col-md-4">
                    <div>

                        {% if user.is_authenticated and post.author == user %}
                        <div class="card text-black bg-warning mb-3">
                        {% else %}
                        <div class="card text-black bg-light mb-3">
                        {% endif %}

                            <div class="card-body">
                                <p class="card-text"><a href="{% url 'tips:for_user' username=post.author.username %}">@{{ post.author.username }}</a></p>

                                <ul class="list-group list-group-horizontal-sm">
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.one }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.one_team }}</button>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.two }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.two_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.three }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.three_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.four }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.four_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.five }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.five_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.six }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.six_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.seven }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.seven_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.eight }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.eight_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.nine }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.nine_team }}</button>
                                    </div>  </li>
                                </ul>


                            </div>

                        </div>


                    </div>

                </div>

            {% endfor %}
        </div>
        </div>


{% endblock %}