<!DOCTYPE html>
{% extends 'main.html' %}
{% load bootstrap4 %}

{% block serach_block %}
{% endblock %}

{% block body_block %}
<div class="jumbotron main_wrapper_jumbotron">
    <div class="container">
        <div class="jumbotron">
            <div align="center">
                <p>Cambiar mi número de teléfono</p>
            </div>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Nuevo número de teléfono</label>

                {{ formm.description }}

                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>

    </div>
</div>




{% endblock %}