<!DOCTYPE html>
{% extends "main.html" %}

{% block body_block %}
    <div class="container">
                <div class="jumbotron">
                    <div align="center">
                        <p>Un email ha sido enviado con instruciones para reiniciar tu contraseña. Revisa tu correo electrónico en la sección Spam.</p>
                        <a class="btn btn-primary" role="button" href="{% url 'login'%}">Entrar a mi cuenta</a>
                    </div>
                </div>
            </div>

{% endblock body_block %}