<!DOCTYPE html>
{% extends "main.html" %}

{% block search_block %}
{% endblock %}

{% block body_block %}

<div class="container">
<div class="jumbotron">
    <div align="center">



        <form method="POST">
            {% csrf_token %}
                <legend class="border-bottom mb-4">Crear nueva contraseña</legend>

                <h5 style="margin-bottom: 15px">Escribe tu correo electrónico que usasta para abrir la cuenta para que puedas hacer una nueva clave para tu cuenta</h5>

                {{ form }}
                <button class="btn btn-success" type="submit" style="margin: 10px">Requerir una nueva contraseña</button>
        </form>

        </div>
</div>
</div>
{% endblock body_block %}