<!DOCTYPE html>
{% extends 'main.html'%}
{% load bootstrap4 %}

{% block search_block %}
{% endblock %}

{% block body_block %}
<div class="jumbotron main_wrapper_jumbotron">
    <div class="container">
    <div class="jumbotron">
        <h3 align="center">Agrega tu número de teléfono</h3>

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4 col-sm-12">
                <label>Si eres unos de los ganadores de alguna quiniela se te contactará usando el número de teléfono que escribas.</label>
                <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/jumpstart_phone.png" alt="Jump Start Service Chicago IL" style="margin-right: 5px; width: 25px; height: auto">
            {{ form.description }}

            </div>

        </div>
        <input type="hidden" name="mypk" placeholder="your pk" value="{{ request.user.pk }}">


<button class="btn btn-primary" type="submit">Enviar</button>
    </form>

                        <small style="color: mediumseagreen">Esta información se mantiene privada</small>


        </div>
</div>

</div>



{% endblock %}