<!DOCTYPE html>
{% extends 'main.html'%}
{% load bootstrap4 %}

{% block serach_block %}
{% endblock %}

{% block body_block %}
<div class="jumbotron main_wrapper_jumbotron">
    <div class="container">
    <div class="jumbotron">
        <h3 align="center">Crear Perfil</h3>

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4 col-sm-12">
                <label>Descripcion</label>
            {{ form.description }}
            </div>

        </div>



    <input type="submit" value="Crear">
    </form>
        </div>
</div>

</div>



{% endblock %}