<!DOCTYPE html>
{% extends 'main.html' %}

{% block serach_block %}
{% endblock %}

{% block body_block%}



<div class="jumbotron main_wrapper_jumbotron">
    <div class="container">
        <div class="jumbotron">
            <h4><strong>Información privada. Solo tú puedes ver esta información</strong></h4>
            <div class="row">
                <div class="col-lg-6 col-sm-12">

                    <div>
                        <h5>Nombre de usuario: {{ user.username }}</h5>
                        <h5>email/correo electrónico: {{ user.email }}</h5>
                        <h5>Mi número de teléfono: {{ user.profiles.description }}</h5>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

