<!DOCTYPE html>

{% extends 'main.html' %}
<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Inter&display=swap" rel="stylesheet">


{% block search_block %}
{% endblock %}

{% block body_block %}

    <div class="jumbotron">

            {% if not quinielas %}
                <div style="text-align: center;background-color: #002855; padding: 10px; border-radius: 10px;color: whitesmoke; margin-bottom: 10px">
                <h5>No tienes quinielas para pagar</h5>
                <a href="{% url 'promotions:book'%}" class="btn btn-primary btn-lg" role="button" aria-pressed="true" style="margin-bottom: 5px;">Comprar Quinielas</a>
                </div>
            {% endif %}

            {% if repeated_list %}
            <div style="text-align: center;background-color: #ffbd00; padding: 10px; border-radius: 10px;color: black; margin: 10px">
                <h5>Tienes quinielas con los mismos pronósticos</h5>
                <h5>Por favor cámbielas o bórrelas</h5>
                <h5>{{ repeated_list }}</h5>
            </div>
            {% endif %}

            <div class="mx-auto card text-white bg-primary mb-3" style="max-width: 18rem;">
              <div class="card-body">
                <h6 class="card-title">Usuario: {{ request.user }}</h6>
                <h6 class="card-title">Numero de Quinielas: <strong>{{ total_quinielas }}</strong></h6>
                <h6 class="card-title">Precio Total: $<strong id="total_pay">{{ total }}</strong></h6>
                <p class="card-text"><small>{{ date }}</small></p>
              </div>
            </div>


            <div class="mx-auto card text-white bg-info mb-3" style="max-width: 22rem;">
                  <div class="card-body">

                    {% if no_buying %}
                    {% else %}

                        <form method="post" action="{% url 'tips:success'%}" id="myForm">
                            {% csrf_token %}
                            <input type="hidden" value="{{ total }}" name="total">
                            <input type="hidden" value="{{ total_quinielas }}" name="quinielas">

                        </form>


                        <div id="paypal-button-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AfbFYOySdqGxPssRVW4rj0B7ux-9Icc7W0SigqsOhseGqzBWuLb_1No35qYcm5nYbYLxptBOqDOtEFGN&currency=USD&disable-funding=credit" data-sdk-integration-source="button-factory"></script>
<script>
let total_paypal = {{ total }}

  paypal.Buttons({
      style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'paypal',

      },
      createOrder: function(data, actions) {
          return actions.order.create({
              purchase_units: [{
                  amount: {
                      value: parseFloat(total_paypal).toFixed(2)
                  }
              }]
          });
      },
      onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
              document.getElementById("myForm").submit();

          });
      }
  }).render('#paypal-button-container');
</script>




{#                      <!-- Set up a container element for the button -->#}
{#                        <div id="paypal-button-container"></div>#}
{##}
{#                        <!-- Include the PayPal JavaScript SDK -->#}
{##}
{#    <script>#}
{#    let total_paypal = {{ total }}#}
{#        // Render the PayPal button into #paypal-button-container#}
{#        paypal.Buttons({#}
{##}
{#            // Set up the transaction#}
{#            createOrder: function(data, actions) {#}
{#                return actions.order.create({#}
{#                    purchase_units: [{#}
{#                        amount: {#}
{#                            value: parseFloat(total_paypal).toFixed(2)#}
{#                        }#}
{#                    }]#}
{#                });#}
{#            },#}
{##}
{#            // Finalize the transaction#}
{#            onApprove: function(data, actions) {#}
{#                return actions.order.capture().then(function(details) {#}
{#                    // Show a success message to the buyer#}
{##}
{#                    submitFormData()#}
{##}
{#                });#}
{#            }#}
{##}
{#        }).render('#paypal-button-container');#}
{#    </script>#}
{##}
{#    <script>#}
{#    const data = JSON.stringify({#}
{#    'hello':'world',#}
{#});#}
{##}
{#	    function submitFormData() {#}
{#	    	var url = "/success/";#}
{#	    	fetch('{% url 'tips:success' %}', {#}
{#	    		method:'POST',#}
{#	    		headers:{#}
{#            'Content-Type':'application/json',#}
{#            'X-CSRFToken':'{{csrf_token}}',#}
{#            'X-Requested-With':'XMLHttpRequest',#}
{#	    		},#}
{#	    		body:data,#}
{##}
{#	    	})#}
{#	    	.then((response) => {#}
{#	    	    window.location.href = "{% url 'tips:list' %}";#}
{#				console.log(response);#}
{#				})#}
{#	    }#}
{##}
{#    </script>#}



                        {% endif %}

                  </div>
            </div>


        <div class="row">
            {% for post in quinielas %}
                    {% if post.pk in repeated_list %}

                        <div class="col-md-6 col-lg-4">
                            <div>
                                  <div class="card text-white mb-3" style="background-color: #9a031e; color: #f1faee !important;">

                                        <div class="card-body">
                                            <p class="card-text" style="color: whitesmoke">{{ post.author.username }}</p>
                                            <p class="card-text" style="color: whitesmoke">Numero: {{ post.pk }}</p>

                                            <ul class="list-group list-group-horizontal-sm">
                                              <li class="list-group-item">
                                                  <div class="btn-group" role="group" aria-label="Basic example">
                                                  <button type="button" class="btn btn-secondary">{{ post.one }}</button>
                                                  <button type="button" class="btn btn-secondary">{{ post.one_team }}</button>
                                                </div>
                                              </li>
                                              <li class="list-group-item">
                                                  <div class="btn-group" role="group" aria-label="Basic example">
                                                  <button type="button" class="btn btn-secondary">{{ post.two }}</button>
                                                  <button type="button" class="btn btn-secondary">{{ post.two_team }}</button>
                                                </div>  </li>
                                              <li class="list-group-item">
                                                  <div class="btn-group" role="group" aria-label="Basic example">
                                                  <button type="button" class="btn btn-secondary">{{ post.three }}</button>
                                                  <button type="button" class="btn btn-secondary">{{ post.three_team }}</button>
                                                </div>  </li>
                                              <li class="list-group-item">
                                                  <div class="btn-group" role="group" aria-label="Basic example">
                                                  <button type="button" class="btn btn-secondary">{{ post.four }}</button>
                                                  <button type="button" class="btn btn-secondary">{{ post.four_team }}</button>
                                                </div>  </li>
                                              <li class="list-group-item">
                                                  <div class="btn-group" role="group" aria-label="Basic example">
                                                  <button type="button" class="btn btn-secondary">{{ post.five }}</button>
                                                  <button type="button" class="btn btn-secondary">{{ post.five_team }}</button>
                                                </div>  </li>
                                              <li class="list-group-item">
                                                  <div class="btn-group" role="group" aria-label="Basic example">
                                                  <button type="button" class="btn btn-secondary">{{ post.six }}</button>
                                                  <button type="button" class="btn btn-secondary">{{ post.six_team }}</button>
                                                </div>  </li>
                                              <li class="list-group-item">
                                                  <div class="btn-group" role="group" aria-label="Basic example">
                                                  <button type="button" class="btn btn-secondary">{{ post.seven }}</button>
                                                  <button type="button" class="btn btn-secondary">{{ post.seven_team }}</button>
                                                </div>  </li>
                                              <li class="list-group-item">
                                                  <div class="btn-group" role="group" aria-label="Basic example">
                                                  <button type="button" class="btn btn-secondary">{{ post.eight }}</button>
                                                  <button type="button" class="btn btn-secondary">{{ post.eight_team }}</button>
                                                </div>  </li>
                                              <li class="list-group-item">
                                                  <div class="btn-group" role="group" aria-label="Basic example">
                                                  <button type="button" class="btn btn-secondary">{{ post.nine }}</button>
                                                  <button type="button" class="btn btn-secondary">{{ post.nine_team }}</button>
                                                </div>  </li>
                                            </ul>

                                            {% if user.is_authenticated and post.author == user %}
                                                <a href="{% url 'promotions:cart_remove_item' pk=post.pk%}" class="btn btn-warning" style="margin-top: 5px">Borrar Quiniela</a>
                                                <a href="{% url 'catmessage:juego_edit' pk=post.pk%}" class="btn btn-primary" style="padding: 8px">Cambiar</a>
                                            {% endif %}


                                        </div>

                                    </div>
                            </div>
                        </div>


                    {% else %}

                <div class="col-md-6 col-lg-4">
                    <div>
                          <div class="card text-white mb-3" style="background-color: #2d3047; color: #f1faee !important;">

                                <div class="card-body">
                                    <p class="card-text" style="color: whitesmoke">{{ post.author.username }}</p>

                                    <ul class="list-group list-group-horizontal-sm">
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.one }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.one_team }}</button>
                                        </div>
                                      </li>
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.two }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.two_team }}</button>
                                        </div>  </li>
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.three }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.three_team }}</button>
                                        </div>  </li>
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.four }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.four_team }}</button>
                                        </div>  </li>
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.five }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.five_team }}</button>
                                        </div>  </li>
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.six }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.six_team }}</button>
                                        </div>  </li>
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.seven }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.seven_team }}</button>
                                        </div>  </li>
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.eight }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.eight_team }}</button>
                                        </div>  </li>
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.nine }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.nine_team }}</button>
                                        </div>  </li>
                                    </ul>

                                    {% if user.is_authenticated and post.author == user %}
                                        <a href="{% url 'promotions:cart_remove_item' pk=post.pk%}" class="btn btn-warning" style="margin-top: 5px">Borrar Quiniela</a>
                                        <a href="{% url 'catmessage:juego_edit' pk=post.pk%}" class="btn btn-primary" style="padding: 8px">Cambiar</a>

                                    {% endif %}


                                </div>

                            </div>
                    </div>
                </div>

                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %}

