<!DOCTYPE html>
{% extends 'main.html' %}
<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Inter&display=swap" rel="stylesheet">


{% block search_block %}
{% endblock %}

{% block body_block %}
<script src="https://www.paypal.com/sdk/js?client-id=AfGJDv8iqoA5-Q5A-0EZIo0kJUr9XI3y0IYhw4EKYByYjRyzwaXsPOSdmjra1TryhmYB97BRyyvqtjkZ&currency=USD"></script>

<script src="https://js.stripe.com/v3/"></script>
    <style>
    /**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;
    width: 300px;
  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

    *, label {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-variant: normal;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

button {
  border: none;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: #32325d;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  float: left;
  margin-left: 12px;
  margin-top: 28px;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
  background-color: #43458b;
}


    </style>

    <div class="jumbotron">

            <div class="mx-auto card text-white bg-primary mb-3" style="max-width: 18rem;">
              <div class="card-body">
                <h6 class="card-title">Usuario: {{ request.user }}</h6>
                <h6 class="card-title">Numero de Quinielas: <strong>{{ total_quinielas }}</strong></h6>
                <h6 class="card-title">Precio Total: <strong>${{ total }}</strong></h6>
                <p class="card-text"><small>{{ date }}</small></p>
              </div>
            </div>


            <div class="mx-auto card text-white bg-info mb-3" style="max-width: 22rem;">
              <div class="card-body">


                                      <!-- Set up a container element for the button -->
                    <div id="paypal-button-container"></div>

                    <!-- Include the PayPal JavaScript SDK -->

                    <script >
                        // Render the PayPal button into #paypal-button-container
                        paypal.Buttons({
                            style: {
                                color: 'gold',
                                layout: 'horizontal'
                            },

                            // Set up the transaction
                            createOrder: function(data, actions) {
                                return actions.order.create({
                                    purchase_units: [{
                                        amount: {
                                            value: '10.01'
                                        }
                                    }]
                                });
                            },

                            // Finalize the transaction
                            onApprove: function(data, actions) {
                                return actions.order.capture().then(function(details) {
                                    // Show a success message to the buyer
                                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                                });
                            }


                        }).render('#paypal-button-container');
                    </script>



                <form action="{% url 'tips:charge' %}" method="post" id="payment-form">
                    {% csrf_token %}

                  <div class="form-group">

                    <label for="card-element2">
                      Tarjeta de crédito o débito
                    </label>


                    <div id="card-element2">
                      <!-- A Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                  </div>

                  <button>Completar Pago</button>
                </form>
              </div>
</div>


        <div class="row">
                {% for post in quinielas %}
                <div class="col-md-6 col-lg-4">
                    <div>
                          <div class="card text-white mb-3" style="background-color: #2d3047; color: #f1faee !important;">

                                <div class="card-body">
                                    <p class="card-text" style="color: whitesmoke">{{ post.author.username }}</p>
                                    <ul class="list-group list-group-horizontal-sm">
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.one }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.one_team }}</button>
                                        </div>
                                      </li>
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.two }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.two_team }}</button>
                                        </div>  </li>
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.three }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.three_team }}</button>
                                        </div>  </li>
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.four }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.four_team }}</button>
                                        </div>  </li>
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.five }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.five_team }}</button>
                                        </div>  </li>
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.six }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.six_team }}</button>
                                        </div>  </li>
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.seven }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.seven_team }}</button>
                                        </div>  </li>
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.eight }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.eight_team }}</button>
                                        </div>  </li>
                                      <li class="list-group-item">
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                          <button type="button" class="btn btn-secondary">{{ post.nine }}</button>
                                          <button type="button" class="btn btn-secondary">{{ post.nine_team }}</button>
                                        </div>  </li>
                                    </ul>

                                    {% if user.is_authenticated and post.author == user %}
                                        <a href="{% url 'promotions:cart_remove_item' pk=post.pk%}" class="btn btn-warning" style="margin-top: 5px">Borrar Quiniela</a>
                                    {% endif %}


                                </div>

                            </div>
                    </div>
                </div>
                {% endfor %}

        </div>
    </div>


	<script>
		// Create a Stripe client.
		var stripe = Stripe('pk_test_51H4G4xB9GffACqxkTUkP9dsSwvCH5UbEKBPhQkxvngpJZjERzWymnLpIfOxvyiq3LdIXTRzULJVNYmW9SQVhXvTI00RZ0E91sN');

		// Create an instance of Elements.
		var elements = stripe.elements();

		// Custom styling can be passed to options when creating an Element.
		// (Note that this demo uses a wider set of styles than the guide below.)
		var style = {
		  base: {
		    color: '#32325d',
		    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
		    fontSmoothing: 'antialiased',
		    fontSize: '16px',
		    '::placeholder': {
		      color: '#aab7c4'
		    }
		  },
		  invalid: {
		    color: '#fa755a',
		    iconColor: '#fa755a'
		  }
		};

		// Create an instance of the card Element.
		var card = elements.create('card', {style: style});

		// Add an instance of the card Element into the `card-element` <div>.
		card.mount('#card-element2');

		// Handle real-time validation errors from the card Element.
		card.addEventListener('change', function(event) {
		  var displayError = document.getElementById('card-errors');
		  if (event.error) {
		    displayError.textContent = event.error.message;
		  } else {
		    displayError.textContent = '';
		  }
		});

		// Handle form submission.
		var form = document.getElementById('payment-form');
		form.addEventListener('submit', function(event) {
		  event.preventDefault();

		  stripe.createToken(card).then(function(result) {
		    if (result.error) {
		      // Inform the user if there was an error.
		      var errorElement = document.getElementById('card-errors');
		      errorElement.textContent = result.error.message;
		    } else {
		      // Send the token to your server.
		      stripeTokenHandler(result.token);
		    }
		  });
		});

		// Submit the form with the token ID.
		function stripeTokenHandler(token) {
		  // Insert the token ID into the form so it gets submitted to the server
		  var form = document.getElementById('payment-form');
		  var hiddenInput = document.createElement('input');
		  hiddenInput.setAttribute('type', 'hidden');
		  hiddenInput.setAttribute('name', 'stripeToken');
		  hiddenInput.setAttribute('value', token.id);
		  form.appendChild(hiddenInput);

		  // Submit the form
		  form.submit();
		}
	</script>

{% endblock %}