<!DOCTYPE html>
{% extends 'main.html' %}
{% block body_block %}

        <div class="jumbotron">

            <div style="text-align: center;background-color: #001845; padding: 10px; border-radius: 10px;color: whitesmoke; margin-bottom: 10px">
                <h5>Puedes descargar una lista completa de todas las quinielas para que puedas verificar y confirmar el ganador si lo desea. <stong>Viernes, Sabado y Domingo</stong></h5>
            </div>

            <div style="text-align: center;background-color: #2ec4b6; padding: 10px; border-radius: 10px;color: black; margin-bottom: 10px">
                <h5>Solo puedes descargar la lista completa cuando termine el último día para comprar qunielas</h5>
            </div>


        {% if no_download %}

            <div style="text-align: center;background-color: #ed6a5a; padding: 10px; border-radius: 10px;color: black; margin-bottom: 10px">
                <h5>Todavia no se termina el último día para comprar quinielas, que es el jueves de cada semana.</h5>
            </div>

        {% else %}
            <div style="text-align: center; margin: 10px">
                <a href="https://github.com/nicodell90/quinielasligamx/blob/master/jornada4mx.pdf?raw=true" class="btn btn-success btn-lg" role="button" aria-pressed="true" style="margin-bottom: 5px;">Descargar lista completa</a>
            </div>

        {% if request.user.profiles.pk == 14 %}
            <div class="row">
                {% for post in post_list %}
                    <div class="col-md-4">
                        <div>

                            {% if user.is_authenticated and post.author == user %}
                            <div class="card text-black bg-warning mb-3">
                            {% else %}
                            <div class="card text-black bg-light mb-3">
                            {% endif %}

                                <div class="card-body">

                                    <p>{{ post.all_choices }} - {{ post.author.username }} -Numero de Identificacion {{ post.pk }}</p>

                                </div>

                            </div>


                        </div>

                    </div>

                {% endfor %}
            </div>
            </div>
        {% endif %}

        {% endif %}

{% endblock %}