<!DOCTYPE html>
{% extends 'main.html' %}
{% load bootstrap4 %}

{% block search_block %}
{% endblock %}

{% block body_block %}
    {% if no_buying %}

        <div class="jumbotron">
            <div style="text-align: center;background-color: #002855; padding: 10px; border-radius: 10px;color: whitesmoke; margin-bottom: 10px">
                <h4>No puedes comprar quinielas de esta semana.</h4>
                <h4>Puedes comprar de <strong>lunes a jueves.</strong></h4>
            </div>
        </div>

    {% else %}

        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="jumbotron">
                    <form action="{% url 'tips:create_tip'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary" style="margin: 10px" onclick="showDiv()">Publicar</button>
                    </form>
                </div>
            </div>
        </div>

    {% endif %}


{% endblock %}
