<!DOCTYPE html>
{% extends 'main.html' %}
{% load bootstrap4 %}
{% block body_block %}

{% block serach_block %}
{% endblock %}




    <div class="container">
            <div class="d-flex justify-content-center">

                <form action="{% url 'tips:create_tip'%}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>

                    <a class="nav-link" href="{% url 'tips:reglas'%}" style="  background-color: rgba(218,61,48,0.77);color: white;padding: 1em 1.5em;text-decoration: none;border-radius: 5px;margin: 5px;text-transform: uppercase;">Reglas & Puntuación</a>


                        <div class="alert alert-primary" role="alert">
                          Revisar reglas & puntuación antes de enviar video
                        </div>


                        <p style="color: white">Nombre de Video: {{ form.title }}</p>

                        <div class="jumbotron">
                        <h5>Pasos para enviar video</h5>
                        <h6>1. Bajar la aplicacion MEGA en Android o ios</h6>
                            <img src="https://twerk-django.s3.us-east-2.amazonaws.com/media/megaapp.png" alt="" style="width: 150px">
                        <h6>2. Mirar el siguiente video para ver como se sube un video a la app MEGA</h6>
                            <video width="auto" height="240" controls>
                              <source src="https://twerk-django.s3.us-east-2.amazonaws.com/media/firstvid.mp4" type="video/mp4">
                              Your browser does not support the video tag.
                            </video>
                        <h6>3. Mirar el siguiente video para ver como se envia el enlace del video</h6>

                            <video width="auto" height="240" controls>
                              <source src="https://twerk-django.s3.us-east-2.amazonaws.com/media/secondvid.mp4" type="video/mp4">
                              Your browser does not support the video tag.
                            </video>
                        </div>

                        <p style="color: white">Enlace de Video: {{ form.post_pict_link }}</p>
                    </div>

                    <button type="submit" class="btn btn-primary" style="margin: 10px" onclick="showDiv()">Publicar</button>


                </form>
            </div>

        <div class="alert alert-danger" role="alert" style="margin: 10px">
    <h4>Los videos submitidos se borraran automaticamente al final del concurso.</h4>
</div>

    </div>



<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
  };

      function showDiv() {
  document.getElementById('loadingGif').style.display = "block";
  setTimeout(function() {
    document.getElementById('loadingGif').style.display = "none";
  },200000);

}

</script>

{% endblock %}
