<!DOCTYPE html>
{% extends "main.html" %}

{% block body_block %}

<div class="prize">
  <div class="container">

      <h1 class="display-5">Quiniela Liga MX</h1>

        <div style="background-color: snow; width: 350px;height: 45px; border-radius: 5px">
            <h2>$1,000 Dolares</h2>
        </div>

        <div class="list-group" style="margin: 12px; color: #1b3249 !important;">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Precio: $2 dolares por quiniela</h5>
            </div>

            <div class="d-flex w-100 justify-content-between" style="margin-top: 8px">
              <h5 class="mb-1">Puedes Comprar Las Quinielas Con Tarjeta De Crédito, Débito o Paypal</h5>
            </div>

            <div class="d-flex w-100 justify-content-between" style="margin-top: 8px">
              <h5 class="mb-1">Solo Para Personas De Estados Unidos</h5>
            </div>

            <div class="d-flex w-100 justify-content-between" style="margin-top: 8px">
              <h5 class="mb-1">A Los Ganadores Se Les Contactará Para Depositar EL Dinero A Su Cuenta De Banco</h5>
            </div>

        </div>

      <div style="text-align: center">
        <div class="btn-group" role="group" aria-label="Basic example" style="margin-bottom: 10px">

                {% if user.is_authenticated %}

                        <a href="{% url 'promotions:book'%}" class="btn btn-primary btn-lg" role="button" aria-pressed="true" style="margin-bottom: 5px;">Comprar Quinielas</a>

                        <a href="{% url 'tips:for_user' username=request.user.username%}" class="btn btn-dark btn-lg" role="button" aria-pressed="true" style="margin-bottom: 5px;">Mis Quinielas</a>

                {% else %}
                    <a href="{% url 'login'%}" class="btn btn-primary btn-lg" role="button" aria-pressed="true" style="margin-bottom: 5px">Entrar A Mi Cuenta</a>
                    <a href="{% url 'accounts:registration'%}" class="btn btn-success btn-lg" role="button" aria-pressed="true" style="margin-bottom: 5px">Crear Cuenta</a>
                {% endif %}





        </div>

      </div>

  </div>
</div>

    {% if user.is_authenticated %}
        <div class="jumbotron" style="margin-top: 10px;">
            <div style="text-align: center;background-color: #00a6fb; padding: 10px; border-radius: 10px;color: black;">
                <h5>¿Necesitas ayuda para comprar quinielas?</h5>
                <a href="http://batteryjumpchicago.com">
                    <button type="button" class="btn btn-success">Aqui te ayudamos</button>
                <img src="https://jumpservicechicago.s3.us-east-2.amazonaws.com/k23Asset+1.png" alt="quinielas liga mx" style="margin-right: 5px; width: 150px; height: auto">
                </a>
            </div>
        </div>
    {% else %}

        <div class="jumbotron" style="margin-top: 10px;">
            <div style="text-align: center;background-color: #ffbd00; padding: 10px; border-radius: 10px;color: black;">
                <h5>¿Necesitas ayuda para crear una cuenta nueva?</h5>
                <a href="http://batteryjumpchicago.com">
                    <button type="button" class="btn btn-success">Aqui te ayudamos</button>
                <img src="https://jumpservicechicago.s3.us-east-2.amazonaws.com/k23Asset+1.png" alt="quinielas liga mx" style="margin-right: 5px; width: 150px; height: auto">
                </a>
            </div>
        </div>
    {% endif %}

<div class="jumbotron" style="margin-top: 10px">
    <h5 style="text-align: center">Quinielas con mejor puntuacion</h5>
    <div class="container">
        <div class="row">
            <div class="col col-4 col-md-3"><a class="btn btn-outline-dark btn-sm" href="{% url 'tips:filter' value=9 %}" role="button" style="margin-bottom: 7px">9 puntos</a></div>
            <div class="col col--4 col-md-3"><a class="btn btn-outline-dark btn-sm" href="{% url 'tips:filter' value=8 %}" role="button" style="margin-bottom: 7px">8 puntos</a></div>
            <div class="col col-4 col-md-3"><a class="btn btn-outline-dark btn-sm" href="{% url 'tips:filter' value=7 %}" role="button" style="margin-bottom: 7px">7 puntos</a></div>
            <div class="col col-4 col-md-3"><a class="btn btn-outline-dark btn-sm" href="{% url 'tips:filter' value=6 %}" role="button" style="margin-bottom: 7px">6 puntos</a></div>
            <div class="col col-4 col-md-3"><a class="btn btn-outline-dark btn-sm" href="{% url 'tips:filter' value=5 %}" role="button" style="margin-bottom: 7px">5 puntos</a></div>
            <div class="col col-4 col-md-3"><a class="btn btn-outline-dark btn-sm" href="{% url 'tips:filter' value=4 %}" role="button" style="margin-bottom: 7px">4 puntos</a></div>
            <div class="col col-4 col-md-3"><a class="btn btn-outline-dark btn-sm" href="{% url 'tips:filter' value=3 %}" role="button" style="margin-bottom: 7px">3 puntos</a></div>
            <div class="col col-4 col-md-3"><a class="btn btn-outline-dark btn-sm" href="{% url 'tips:filter' value=2 %}" role="button" style="margin-bottom: 7px">2 puntos</a></div>
            <div class="col col-4 col-md-3"><a class="btn btn-outline-dark btn-sm" href="{% url 'tips:filter' value=1 %}" role="button" style="margin-bottom: 7px">1 puntos</a></div>
        </div>

        <div style="margin-bottom: 5px; text-align: center">
            <a href="{% url 'promotions:gane' %}" class="btn btn-outline-success" role="button" aria-pressed="true">Cómo cobrar si ganaste</a>
        </div>

    </div>
</div>


    <div class="jumbotron">
        <div style="text-align: center; margin-bottom: 5px">
            {% if no_download %}
            {% else %}
                <a class="btn btn-success" href="{% url 'tips:download' %}" role="button">
                    Descargar lista completa
                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/k21Asset+3.png" alt="Jump Start Service Chicago IL" style="margin-right: 5px; width: 25px; height: auto">
                </a>
            {% endif %}
              {% if user.is_authenticated %}
                  <a href="{% url 'promotions:winners'%}" class="btn btn-info" role="button" aria-pressed="true" style="margin: 10px">Ganadores de la Jornada 7</a>
              {% endif %}

        </div>
        <div class="row">
            {% for post in post_list %}
                <div class="col-md-6 col-lg-4">
                    <div>

                        {% if user.is_authenticated and post.author == user %}
                        <div class="card text-white mb-3" style="background-color: #2d3047; color: #f1faee !important;">
                        {% else %}
                        <div class="card text-white mb-3" style="background-color: #2d3047; color: #f1faee !important;">
                        {% endif %}

                            <div class="card-body">
                                <p class="card-text"><a href="{% url 'tips:for_user' username=post.author.username %}">{{ post.author.username }}</a></p>
                                <p>Número de identificación: {{ post.pk }}</p>
                                <p>Puntos: {{ post.points }}</p>

                                <ul class="list-group list-group-horizontal-sm">
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.one }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.one_team }}</button>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.two }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.two_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.three }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.three_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.four }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.four_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.five }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.five_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.six }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.six_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.seven }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.seven_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.eight }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.eight_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.nine }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.nine_team }}</button>
                                    </div>  </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


<div class="jumbotron">
    <div style="text-align: center">

            <a href="http://batteryjumpchicago.com">
            <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/facebook.png" alt="Jump Start Service Chicago IL" style="margin-right: 5px; width: 35px; height: auto">
        </a>

        <footer>
            <a href="">sitemap.html</a>
            <br>
            <small>Copyright&copy; 2020, QuinielaLigaMX. All Rights Reserved</small>
        </footer>
    </div>
</div>


    <div class="d-flex justify-content-center">

        <div class="pagination">
            {% if post_list.has_other_pages %}
                {% if post_list.has_previous %}
                  <a href="?page={{ post_list.previous_page_number }}" class="pagination_numbers">&laquo;</a>
                {% else %}
                  <div class="disabled pagination_numbers"><span>&laquo;</span></div>
                {% endif %}
                {% for i in post_list.paginator.page_range %}
                  {% if post_list.number == i %}
                    <div class="pagination_numbers"><span> {{ i }} </span></div>
                  {% else %}
                    <a href="?page={{ i }}" class="pagination_numbers">{{ i }}</a>
                  {% endif %}
                {% endfor %}
                {% if post_list.has_next %}
                  <a href="?page={{ post_list.next_page_number }}" class="pagination_numbers">&raquo;</a>
                {% else %}
                  <div class="disabled pagination_numbers"><span>&raquo;</span></div>
                {% endif %}
            {% endif %}
        </div>

    </div>
{% endblock %}

