<!DOCTYPE html>
{% extends "main.html" %}

{% block body_block %}

<div class="prize">
  <div class="container">

      <h1 class="display-4">Quiniela Liga MX</h1>
      <h2>$500 Dolares + Más Todo El Dinero Recaudado De Las Ventas De Las Quinielas</h2>
      <p class="lead">Solo Para Personas De Estados Unidos</p>
      <p class="lead">Precio: $2 dolares por quiniela</p>
      <p class="lead">A Los Ganadores Se Les Contactará Para Depositar EL Dinero A Su Cuenta De Banco</p>
      <p class="lead">Puedes Comprar Las Quinielas Con Tarjeta De Crédito, Débito o Paypal</p>

      <div style="text-align: center">
        <div class="btn-group" role="group" aria-label="Basic example">

                {% if user.is_authenticated %}

                        <a href="{% url 'promotions:book'%}" class="btn btn-success btn-lg" role="button" aria-pressed="true" style="margin-bottom: 5px">Comprar Quiniela</a>
                        <a href="{% url 'tips:for_user' username=request.user.username%}" class="btn btn-info btn-lg" role="button" aria-pressed="true" style="margin-bottom: 5px">Mis Quinielas</a>


                {% else %}
                    <a href="{% url 'login'%}" class="btn btn-success btn-lg" role="button" aria-pressed="true" style="margin-bottom: 5px">Entrar A Mi Cuenta</a>
                    <a href="{% url 'accounts:registration'%}" class="btn btn-info btn-lg" role="button" aria-pressed="true" style="margin-bottom: 5px">Crear Cuenta</a>
                {% endif %}





        </div>

              {% if user.is_authenticated %}
                        <a href="{% url 'promotions:winners'%}" class="btn btn-light" role="button" aria-pressed="true" style="margin-bottom: 5px">Ganadores de la Jornada 7</a>
              {% endif %}



      </div>

  </div>
</div>


<div class="jumbotron">
    <h5 style="text-align: center">Quinielas con mejor puntuacion</h5>
    <div class="container">
        <div class="row">
            <div class="col col-4 col-md-3"><a class="btn btn-primary" href="{% url 'tips:filter' value=9 %}" role="button" style="margin-bottom: 7px">9 puntos</a></div>
            <div class="col col--4 col-md-3"><a class="btn btn-primary" href="{% url 'tips:filter' value=8 %}" role="button" style="margin-bottom: 7px">8 puntos</a></div>
            <div class="col col-4 col-md-3"><a class="btn btn-primary" href="{% url 'tips:filter' value=7 %}" role="button" style="margin-bottom: 7px">7 puntos</a></div>
            <div class="col col-4 col-md-3"><a class="btn btn-primary" href="{% url 'tips:filter' value=6 %}" role="button" style="margin-bottom: 7px">6 puntos</a></div>
            <div class="col col-4 col-md-3"><a class="btn btn-primary" href="{% url 'tips:filter' value=5 %}" role="button" style="margin-bottom: 7px">5 puntos</a></div>
            <div class="col col-4 col-md-3"><a class="btn btn-primary" href="{% url 'tips:filter' value=4 %}" role="button" style="margin-bottom: 7px">4 puntos</a></div>
            <div class="col col-4 col-md-3"><a class="btn btn-primary" href="{% url 'tips:filter' value=3 %}" role="button" style="margin-bottom: 7px">3 puntos</a></div>
            <div class="col col-4 col-md-3"><a class="btn btn-primary" href="{% url 'tips:filter' value=2 %}" role="button" style="margin-bottom: 7px">2 puntos</a></div>
            <div class="col col-4 col-md-3"><a class="btn btn-primary" href="{% url 'tips:filter' value=1 %}" role="button" style="margin-bottom: 7px">1 puntos</a></div>
        </div>
    </div>
</div>


    <div class="jumbotron">
        <div style="text-align: center; margin-bottom: 10px">
            <a class="btn btn-success" href="{% url 'tips:download' %}" role="button">
                Descargar lista completa
                <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/k21Asset+3.png" alt="Jump Start Service Chicago IL" style="margin-right: 5px; width: 25px; height: auto">
            </a>
        </div>
        <div class="row">
            {% for post in post_list %}
                <div class="col-md-4">
                    <div>

                        {% if user.is_authenticated and post.author == user %}
                        <div class="card text-black bg-warning mb-3">
                        {% else %}
                        <div class="card text-black bg-light mb-3">
                        {% endif %}

                            <div class="card-body">
                                <p class="card-text"><a href="{% url 'tips:for_user' username=post.author.username %}">@{{ post.author.username }}</a></p>
                                <p>Numero de identificacion# {{ post.pk }}</p>
                                <p>Puntos: {{ post.points }}</p>

                                <ul class="list-group list-group-horizontal-sm">
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.one }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.one_team }}</button>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.two }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.two_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.three }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.three_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.four }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.four_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.five }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.five_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.six }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.six_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.seven }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.seven_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.eight }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.eight_team }}</button>
                                    </div>  </li>
                                  <li class="list-group-item">
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-secondary">{{ post.nine }}</button>
                                      <button type="button" class="btn btn-secondary">{{ post.nine_team }}</button>
                                    </div>  </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


<div class="jumbotron">
    <div style="text-align: center">

            <a href="http://batteryjumpchicago.com">
            <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/facebook.png" alt="Jump Start Service Chicago IL" style="margin-right: 5px; width: 35px; height: auto">
        </a>

        <footer>
            <a href="">sitemap.html</a>
            <br>
            <small>Copyright&copy; 2020, QuinielaLigaMX. All Rights Reserved</small>
        </footer>
    </div>
</div>


    <div class="d-flex justify-content-center">

        <div class="pagination">
            {% if post_list.has_other_pages %}
                {% if post_list.has_previous %}
                  <a href="?page={{ post_list.previous_page_number }}" class="pagination_numbers">&laquo;</a>
                {% else %}
                  <div class="disabled pagination_numbers"><span>&laquo;</span></div>
                {% endif %}
                {% for i in post_list.paginator.page_range %}
                  {% if post_list.number == i %}
                    <div class="pagination_numbers"><span> {{ i }} </span></div>
                  {% else %}
                    <a href="?page={{ i }}" class="pagination_numbers">{{ i }}</a>
                  {% endif %}
                {% endfor %}
                {% if post_list.has_next %}
                  <a href="?page={{ post_list.next_page_number }}" class="pagination_numbers">&raquo;</a>
                {% else %}
                  <div class="disabled pagination_numbers"><span>&raquo;</span></div>
                {% endif %}
            {% endif %}
        </div>

    </div>
{% endblock %}

